# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
package-lock.json
package.json
prisma/migrations/20250509024822_init/migration.sql
prisma/migrations/20250510180551_prevent_duplicate_appointments/migration.sql
prisma/migrations/20250510185500_init/migration.sql
prisma/dev.db
prisma/migrations/migration_lock.toml
prisma/migrations/20250512165112_especialidades/migration.sql
prisma/test.db
prisma/migrations/
